* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sawarabi Mincho", 'Noto Sans JP', sans-serif;
  letter-spacing: 0.2rem;
  line-height: 1.5rem;
}
body {
  color: #fff;
  background-color: #0a1f33;
}
section {
  margin: 50px 15% 100px;
  overflow: hidden;
}
a {
  text-decoration: none;
}
a:link, a:visited, a:hover, a:active {
  color: #fff;
}
/* background image */
.b-fw1 {
  background-image: url(images/firework-logo-blue.png);
  background-position: 100% 550px;
	background-repeat: no-repeat;
  background-size: 30% auto;
}
.b-fw2 {
  background-image: url(images/firework-logo-blue.png);
  background-position: -20% 1000px;
	background-repeat: no-repeat;
  background-size: 50% auto;
}
.b-fw3 {
  background-image: url(images/firework-logo-blue.png);
  background-position: 90% 1500px;
	background-repeat: no-repeat;
  background-size: 30% auto;
}
/* =====
   base!
   ===== */
/* display */
.flex {
  display: flex;
}
.block {
  display: block;
}
.cancel {
  display: inline;
}
/* position */
.position-relative {
  position: relative;
}
.justify-content {
  justify-content: space-between;
}
.text-align {
  text-align: center;
}
.more-button {
  margin: 80px auto;
}
/* border */
.border {
  width: 2.5rem;
  border-top: 1px solid;
  margin: 5px auto 0;
}
.under {
  border-bottom: dashed 3px #0a1f33;
}
.dots {
  display: inline;
  width: 15rem;
  border-bottom: dotted 3px;
}
.section-title {
  margin-top: 40px;
  font-size: 1.5rem;
}
.english-title {
  margin-top: .3rem;
  margin-bottom: 50px;
  font-size: .9rem;
}
.image {
  background-position: center;
  background-size: cover;
  position: relative;
  width: 50%;
  height: 50vh;
  border-radius: 5%;;
}
.more {
  background-color: #f9a11b;
  border-radius: 30px;
  padding: 20px;
}
.red {
  display: inline;
  color: red;
}
/* background */
.back-opacity {
  background-color: rgba(255, 255, 255, 0.2);
}
.back-opacity-info {
  background-color: rgba(255, 255, 255, 0.7);
}
/* motion */
.slide-l {
  -webkit-transition: all 1.5s;
  -webkit-transform: translate(0, 0);
  opacity: 1;
}
.slide-r {
  -webkit-transition: all 1.5s;
  -webkit-transform: translate(0, 0);
  opacity: 1;
}
.slide-up {
  -webkit-transition: all 1.5s;
  -webkit-transform: translate(0, 0);
  opacity: 1;
}
.slide-l.move {
  -webkit-transform: translate(-20px, 0);
  opacity: 0;
}
.slide-r.move {
  -webkit-transform: translate(20px, 0);
  opacity: 0;
}
.slide-l.move {
  -webkit-transform: translate(-20px, 0);
  opacity: 0;
}
.slide-up.move {
  -webkit-transform: translate(0, -20px);
  opacity: 0;
}
.delay {
  transition-delay: .3s;
}

/* header */
.header-scroll {
  background-color: rgba(255, 255, 255, 0);
  position: fixed;
  top: 0;
  left: 0;
  padding: 5px 0;
  width: 100%;
  height: 80px;
  z-index: 10000;
  align-items: center;
  padding: 0 20px;
}
.header-menu {
  text-align: center;
  margin-right: 30px;
  list-style: none;
}
.header-scroll  span {
  font-size: 10px;
}
/* fv */
.fv {
  background-image: url(images/firework.jpeg);
  width: 100%;
  height: 90vh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* date */
.daytime {
  margin-bottom: 20px;
  font-size: 3rem;
}
/* program */
.menu-img {
  background-image: url(images/menu-firework.jpg);
}
.program-menu {
  align-items: center;
}
/* cruise */
.black {
  color: #000;
  padding: 50px;
}
.cruise-back {
  background-image: url(images/firework-people.jpg); */
  background-position: center;
  background-size: cover;
  width: 100%;
  z-index: -1;
}
.cruise-img {
  background-image: url(images/cruise.jpg);
}
.cruise-more {
  margin: 60px auto;
}
.cruise-title {
  font-size: 1.3rem;
  margin-bottom: 50px;
}
.price {
  font-size: 1.3rem;
  margin-bottom: 30px;
}
/* access */
.firework-access {
  margin-bottom: 20px;
}
.access-info {
  align-items: center;     /*上下中央揃え*/
}