* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sawarabi Mincho", 'Noto Sans JP', sans-serif;
  letter-spacing: 0.2rem;
  line-height: 1.5rem;
  font-size: 1rem;
}
body {
  color: #fff;
  background-color: #0a1f33;
}
section {
  margin: 50px 15% 100px;
  overflow: hidden;
}
a {
  text-decoration: none;
}
a:link, a:visited, a:hover, a:active {
  color: #fff;
}
footer {
  width: 100%;
  padding: 9px;
  text-align: center;
  align-items: center;
  font-size: 0.5rem;
}
footer p {
  font-size: 0.5rem;
}

/* background image */
.b-fw1 {
  background-image: url(images/firework-logo-blue.png);
  background-position: 100% 550px;
	background-repeat: no-repeat;
  background-size: 30% auto;
}
.b-fw2 {
  background-image: url(images/firework-logo-blue.png);
  background-position: -20% 1000px;
	background-repeat: no-repeat;
  background-size: 50% auto;
}
.b-fw3 {
  background-image: url(images/firework-logo-blue.png);
  background-position: 90% 1500px;
	background-repeat: no-repeat;
  background-size: 30% auto;
}
.b-fw4 {
  background-image: url(images/firework-logo-blue.png);
  background-position: 100% 4800px;
	background-repeat: no-repeat;
  background-size: 30% auto;
}
.b-fw5 {
  background-image: url(images/firework-logo-blue.png);
  background-position: -5% 5400px;
	background-repeat: no-repeat;
  background-size: 30% auto;
}

/* =====
   base!
   ===== */
/* display */
.pc {
  display: block;
}
.sp {
  display: none;
}
/* position */
.position-relative {
  position: relative;
}
.justify-content {
  justify-content: space-between;
}
.flex {
  display: flex;
}
.text-align {
  text-align: center;
}
.align-items {
  align-items: center;
}
.content,
.content-reverse {
  display: flex;
  justify-content: space-between;
}
/* border */
.border {
  width: 2.5rem;
  border-top: 3px solid #f9a11b;
  margin: 5px auto 0;
}
.under {
  border-bottom: dashed 3px #0a1f33;
}
.dots {
  display: inline;
  width: 15rem;
  border-bottom: dotted 3px;
}
.section-title {
  margin-top: 40px;
  font-size: 1.5rem;
  font-weight: bold;
}
.section-b {
  margin: 50px 20% 100px;
}
.english-title {
  margin-top: .3rem;
  margin-bottom: 50px;
  font-size: .9rem;
}
.firework-program {
  width: 40%;
}
.image {
  background-position: center;
  background-size: cover;
  position: relative;
  width: 50%;
  height: 50vh;
  border-radius: 5%;;
}
.red {
  color: red;
}
.cancel {
  font-size: 0.9rem;
}
/* button */
.more {
  background-color: #f9a11b;
  border-radius: 30px;
  padding: 20px;
  width: 50%;
  margin: 0 auto;
}
.button {
  position: relative;
  cursor: pointer;
  transition: 800ms ease all;
}
.button:hover {
  background: #fff;
  color: #28527a;
  border-radius: 0;
}
.button:before,
.button:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background: #28527a;
  color: #000;
}
.button:after{
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}
.button:hover:before,
.button:hover:after {
  width: 100%;
  transition: 800ms ease all;
}
/* background */
.back-opacity {
  background-color: rgba(255, 255, 255, 0.2);
}
.back-opacity-info {
  background-color: rgba(255, 255, 255, 0.7);
}
/* motion */
.slide-l {
  -webkit-transition: all 1.5s;
  -webkit-transform: translate(0, 0);
  opacity: 1;
}
.slide-r {
  -webkit-transition: all 1.5s;
  -webkit-transform: translate(0, 0);
  opacity: 1;
}
.slide-up {
  -webkit-transition: all 1.5s;
  -webkit-transform: translate(0, 0);
  opacity: 1;
}
.slide-l.move {
  -webkit-transform: translate(-20px, 0);
  opacity: 0;
}
.slide-r.move {
  -webkit-transform: translate(20px, 0);
  opacity: 0;
}
.slide-l.move {
  -webkit-transform: translate(-20px, 0);
  opacity: 0;
}
.slide-up.move {
  -webkit-transform: translate(0, -20px);
  opacity: 0;
}
.delay {
  transition-delay: .3s;
}

/* header */
.header-scroll {
  background-color: rgba(255, 255, 255, 0);
  position: fixed;
  top: 0;
  left: 0;
  padding: 5px 0;
  width: 100%;
  height: 80px;
  z-index: 10000;
  align-items: center;
  padding: 0 20px;
}
.header-menu {
  text-align: center;
  margin-right: 30px;
  list-style: none;
}
.header-scroll  span {
  font-size: 10px;
}
/* fv */
.logo {
  display: block;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -40%);
}
.slide {
  position: relative;
  height: 100vh;
  overflow: hidden;
}
@keyframes slideshow {
  0% {opacity: 0;}
  15% {opacity: 1;}
  20% {opacity: 1;}
  50% {opacity: 0;}
  100% {opacity: 0;}
}
.slide img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  animation: slideshow 16s infinite;
}
.slide img:nth-child(1) { animation-delay: 0s;}
.slide img:nth-child(2) { animation-delay: 4s; }
.slide img:nth-child(3) { animation-delay: 8s; }
.slide img:nth-child(4) { animation-delay: 12s; }
/* スクロール促進 */
.scrolldown{
  position: absolute;
  left: 50%;
  bottom: 20px;
  height: 50px;
}
.scrolldown span{
  position: relative;
  top: -50%;
  left: -50%;
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 0.05em;
}
/* 線の描写 */
.scrolldown::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 30px;
  background: #fff;
  animation: pathmove 1.4s ease-in-out infinite;
  opacity:0;
}
@keyframes pathmove{
  0%{
    height:0;
    top:0;
    opacity: 0;
  }
  50%{
    height: 30px;
    opacity: 1;
  }
  100%{
    height: 0;
    top: 50px;
    opacity: 0;
  }
}
/* date */
.daytime {
  margin-bottom: 20px;
  font-size: 2rem;
  line-height: 3rem;
}
/* new */
.article {
  display: flex;
  flex-direction: column;
}
.article:last-child {
  border-bottom: 2px solid #28527a;
}
.article li {
  display: flex;
  border-top: 2px solid #28527a;
  padding: 2rem 2rem;
}
.article p {
  margin: 0 2rem;
}
/* program */
.menu-img {
  background-image: url(images/menu-firework.jpg);
}
.firework-content {
  width: 40%;
}
/* cruise */
.black {
  color: #000;
  padding: 30px;
}
.cruise-back {
  background-image: url(images/firework-people.jpg); */
  background-position: center;
  background-size: cover;
  width: 100%;
  z-index: -1;
}
.cruise-img {
  background-image: url(images/cruise.jpg);
}
.cruise-more {
  margin: 60px auto;
  padding: 60px 60px 80px;
}
.cruise-title {
  font-size: 1.2rem;
  margin-bottom: 50px;
}
.price {
  font-size: 1.2rem;
  margin-bottom: 40px;
}
/* access */
.firework-access {
  margin-bottom: 20px;
  width: 40%;
}
.access-info {
  align-items: center;
}
.address {
  font-size: 1.2rem;
}
.access-address{
  margin-bottom: 60px;
}
.ferry-title {
  font-size: 1.3rem;
  margin-bottom: 50px;
}
.access-menu-t {
  margin-bottom: 60px;
  align-items: center;
}
.access-menu-b {
  align-items: center;
}
.ferry-info {
  color: #000;
}
.ferry-name {
  color: #022B7B
}
.ferry-more-button {
  margin-top: 60px;
}
/* manner */
.manner-img {
  background-image: url(images/manners-mask.png);
}
.hoshi {
  color: yellow;
}
/* information */
#information {
  width: 100%;
  height: 20vh;
}
.info-size {
  padding-top: 10px;
  padding-bottom: 80px;
  margin-top: 150px;
  margin-right: 5%;
  margin-left: 5%;
}
.info-logo {
  align-items: center;
}
.info-p span {
  font-size: 0.8rem;
}


/* @media screen and (max-width: 1025px) {
  section {
    margin: 50px 5% 100px;
  }
  .pc {
    display: none;
  }
  .sp {
    display: block;
  }
} */


@media screen and (max-width: 1024px) {
  .pc {
    display: none;
  }
  .sp {
    display: block;
  }
  section {
    margin: 50px 5% 100px;
  }
  .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .content-reverse {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
  }
  .firework-program {
    width: 100%;
  }
  .image {
    width: 100%;
    height: 30vh;
    margin-bottom: 5vh;
  }
  .more {
    background-color: #f9a11b;
    border-radius: 30px;
    padding: 20px;
    width: 80%;
    margin: 0 auto;
  }
  /* header */
  .sp-logo {
    display: block;
    margin: 0 auto;
    text-align: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
  }
  /* ハンバーガーメニュー */
  .menu-trigger {
    display: inline-block;
    width: 36px;
    height: 28px;
    cursor: pointer;
    position: fixed;
    top: 30px;
    right: 30px;
    z-index: 100;
    transform: translateX(0);
    transition: transform .5s;
   }
   .menu-trigger.active {
    transform: translateX(-250px);
  }
   .menu-trigger span {
    display: inline-block;
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #fff;
  }
  .menu-trigger span:nth-child(1) {
    top: 0;
  }
  .menu-trigger.active span:nth-child(1) {
    transform: translateY(12px) rotate(-45deg);
  }
  .menu-trigger span:nth-child(2) {
    top: 12px;
  }
  .menu-trigger.active span:nth-child(2) {
    opacity: 0;
  }
  .menu-trigger span:nth-child(3) {
    bottom: 0;
  }
  .menu-trigger.active span:nth-child(3) {
    transform: translateY(-12px) rotate(45deg);
  }
  nav {
    width: 250px;
    height: 100%;
    padding-top: 100px;
    background-color: #28527a;
    opacity: .9;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
    transform: translate(250px);
    transition: all .5s;
  }
  nav.open {
    transform: translateZ(0);
  }
  nav li {
    color: #fff;
    text-align: center;
    padding: 10px 0;
  }
  ul {
    list-style: none;
  }
  /* new */
  .article li {
    flex-wrap: wrap;
  }
  .article p {
    margin-left: 0;
    margin-right: 0;
  }
  /* program */
  .firework-content {
    width: auto;
  }
  /* cruise */
  .firework-cruise {
    width: 100%;
  }
  .black {
    padding: 20px;
  }
  .cruise-more {
    padding: 40px;
    padding: 40px 40px 60px;
  }
  .cruise-title {
    line-height: 2rem;
  }
  /* access */
  .firework-access {
    margin-bottom: 20px;
    width: 100%;
  }
  .address {
    font-size: 1rem;
    margin-bottom: 40px;
  }
  .ferry-info {
    margin-bottom: 20px;
  }
  .adjacent {
    margin-left: 30px;
  }
  .timemoney {
    font-size: 0.9rem;
  }
  .ferry-more-button {
    margin-top: 50px;
    margin-bottom: 20px;
  }
  .access-menu-t {
    margin-bottom: 20px;
  }
  /* manners */
  .virus {
    margin-bottom: 20px;
    width: 100%;
  }
  /* tourism */
  .tourism {
    margin-bottom: 20px;
  }
  /* information */
  #information {
    padding-right: 5%;
    padding-left: 5%;
  }
  .info-logo {
    display: flex;
    justify-content: space-between;
  }
}


@media screen and (max-width: 599px) {
  .adjacent {
    margin-left: 0;
  }
}
