* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sawarabi Mincho", 'Noto Sans JP', sans-serif;
  letter-spacing: 0.2rem
}
body {
  color: #fff;
  background-color: #0a1f33;
}
section {
  margin: 0 15% 180px;
}
a {
  text-decoration: none;
}
a:link, a:visited, a:hover, a:active {
  color: #000;
}
.pc {
  display: block;
}
.position-relative {
  position: relative;
}
.flex {
  display: flex;
}
.block {
  display: block;
}
.justify-content {
  justify-content: space-between;
}
.text-align {
  text-align: center;
}
.border {
  width: 2.5rem;
  border-top: 1px solid;
  margin: 0 auto;
}
.section-title {
  margin-top: 40px;
  font-size: 1.5rem;
}
.english-title {
  margin-top: .3rem;
  margin-bottom: 50px;
  font-size: .9rem;
}
.more {
  background-color: #f9a11b;
  border-radius: 30px;
  padding: 15px;
}

/* header */
.header-scroll {
  background-color: rgba(255, 255, 255, 0);
  position: fixed;
  top: 0;
  left: 0;
  padding: 5px 0;
  width: 100%;
  height: 80px;
  z-index: 10000;
  align-items: center;
  padding: 0 20px;
}
.header-scroll li {
  text-align: center;
  margin-right: 30px;
  list-style: none;
  line-height: 12pt;
}
.header-scroll li span {
  font-size: 10px;
}
/* fv */
.fv {
  background-image: url(images/firework.jpeg);
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* date */
.daytime {
  margin-bottom: 20px;
  font-size: 3rem;
}
.red {
  display: inline-block;
  color: red;
}
/* program */
.menu-img {
  background-image: url(images/menu-firework.jpg);
  background-position: center;
  background-size: cover;
  width: 50%;
  height: 70vh
}
.program-menu {
  align-items: center;
}